html {
  font-size: 12px;
}

@media (min-width: 800px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

.logo {
  width: 8rem;
  padding: 1rem;
}

.name {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.checkbox-success:checked {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
